/* Write your CSS here */
.not-found-home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.not-found-image {
  width: 280px;
  height: 280px;
}

.not-found-heading {
  color: #333333;
  font-weight: normal;
}

.not-found-para {
  color: #334155;
}

.dark {
  color: #dcdcdc;
  background-color: black;
}
.light {
  background-color: #ffffff;
}
